<%- include('head'); %>

    <body>
        <div class="wrapper">
            <%- include('menu_lateral', { dadosUsuario: dadosUsuario }); %>
                <div id="content">
                    <%- include('navbar'); %>
                        <section
                            style="background-color: #42ebcc; padding: 5px; display: flex; justify-content: center; align-items: center;height: 78%; ">
                            <div class="container mt-1 form-container-produto">
                                <h2>Postar no fórum</h2>
                                <form action="/usuario01/cadastroProdUsuario" enctype="multipart/form-data" method="POST">
                                    
                                    <div class="form-group">
                                        <label for="descricao">Descrição:</label>
                                        <textarea class="form-control" id="descricao" name="descricao"
                                            rows="4" placeholder="Descreva seu produto" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="preco">Preço:</label>
                                        <input type="text" class="form-control" id="preco" name="preco" placeholder="Digite o preço" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="endereco">Local:</label>
                                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Digite o nome do estabelecimento" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="imagem">Imagem:</label>
                                        <input type="file" name="imagem" class="form-control" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-outline-light">Cadastrar  <i class="fas fa-plus"></i></button>
                                </form>
                            </div>

                            <%- include('script'); %>
    </body>

    </html>